* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

/* NAVBAR  */

.header {
  position: fixed;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 100;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 36px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  background-color: transparent;
}

.logo:hover {
  opacity: 0.8;
}

.navbar {
  background-color: transparent;
  padding-right: 250px;
}

.navbar a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  margin-right: 40px;
}

.navbar a:hover {
  opacity: 0.8;
}

.navbar a.active {
  border-bottom: 1px solid white;
}

@media (max-width: 1000px) {
  .header {
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .logo {
    font-size: 24px;
  }
  nav {
    display: none;
  }
}

/* HERO */

.hero-bg {
  background-image: url("../img/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
}

.hero {
  margin-bottom: 10%;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  font-size: 80px;
  font-weight: 700;
  padding-top: 7%;
}

.title h1 {
  margin: 0;
  padding: 0;
}

.search-bar input::placeholder {
  color: white;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(35.424930572509766px);
  border-radius: 17px;
  padding: 15px;
}

.search-bar input {
  flex: 1;
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
  padding: 13.28px 8.86px 13.28px 8.86px;
  color: white;
}

.search-bar select {
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
  padding: 13.28px 8.86px 13.28px 8.86px;
  color: white;
}

.search-bar button {
  padding: 13.28px 35.42px 13.28px 35.42px;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(38, 89, 195, 1);
  border: none;
  border-radius: 35px;
  cursor: pointer;
  display: inline-block;
}

.search {
  background-image: url("../img/akar-icons_search.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  width: 100%;
}

.search input {
  padding-left: 40px;
  border-radius: 35px;
  width: 100%;
}

.check-cal {
  background-image: url("../img/akar-icons_calendar.png");
  background-repeat: no-repeat;
  background-position: 10px center;
}

.check-cal input {
  padding-left: 40px;
  border-radius: 35px;
  width: 100%;
}

.checks {
  display: flex;
}

.persons-icon {
  flex: 1;
  background-image: url("../img/fontisto_male.png");
  background-repeat: no-repeat;
  background-position: 10px center;
}

.persons-icon select {
  padding-left: 40px;
  border-radius: 35px;
}

@media (max-width: 1200px) {
  .title {
    padding-top: 20%;
    font-size: 32px;
  }
  .hero-bg {
    height: 60vh;
  }
  .hero {
    margin-bottom: 60%;
  }

  .subtitle {
    color: black;
  }

  .search-bar {
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    backdrop-filter: none;
  }

  .search-bar .search {
    width: 100%;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(35.424930572509766px);
    border-radius: 35px;
    padding-right: 0;
    box-sizing: border-box;
  }

  .search input {
    width: 100%;
    padding: 15px;
    padding-left: 35px;
  }

  .check-cal input {
    width: 100%;
  }

  .search-bar .checks {
    width: 100%;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(35.424930572509766px);
    border-radius: 35px;
    padding: 8px;
    padding-right: 0;
    box-sizing: border-box;
  }

  .search-bar .persons-icon {
    width: 100%;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(35.424930572509766px);
    border-radius: 35px;
    padding-right: 0;
    box-sizing: border-box;
  }

  .persons-icon select {
    width: 100%;
    padding: 15px;
    padding-left: 35px;
    border-radius: 35px;
  }

  .search-bar button {
    width: 100%;
    margin-right: 0;
    background-color: rgba(38, 89, 195, 1);
    color: white;
  }
}

.subtitle h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 5%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.categories a {
  color: grey;
  text-decoration: none;
}

.categories a:hover {
  color: white;
  text-decoration: none;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.destinations {
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.destination {
  position: relative;
  padding-right: 40px;
}

.destination img {
  border-radius: 9px;
}

.destination-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: white;
}

.destination-info h2 {
  margin: 0;
}

@media (max-width: 1200px) {
  .categories {
    overflow: scroll;
    filter: drop-shadow(0 0 black);
    margin-right: 0;
  }
  .category a:hover {
    color: black;
  }
  .destination {
    padding-right: 20px;
  }
  .destination img {
    width: 230px;
  }
  .subtitle h1 {
    font-size: 24px;
  }
}

/* PAGE */

/* PAGE CARD 1 */

.about {
  margin-left: 10%;
  color: black;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: scroll;
}

.card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 17px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 760px;
  margin: 16px;
}

.card-image {
  border-radius: 23px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-content {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-subtitle {
  font-size: 17px;
  opacity: 0.5;
  font-weight: 400;
  margin: 0;
}

.card-title {
  font-size: 27px;
  font-weight: 500;
  color: #333;
  margin: 15px 0;
}

.card-description {
  font-size: 17px;
  opacity: 0.5;
  margin: 15px 0;
}

.card-button {
  margin-top: 15px;
  padding: 17.71px 35.42px 17.71px 35.42px;
  width: 154px;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  background-color: rgba(38, 89, 195, 1);
  border: none;
  border-radius: 35px;
  cursor: pointer;
}

.card-button:hover {
  opacity: 0.5;
}

.property {
  color: black;
}

/* PAGE IMAGE */

.image {
  margin-top: 10%;
  position: relative;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 27px;
}

.image-info {
  position: absolute;
  bottom: 10%;
  left: 70px;
  right: 70px;
  color: white;
}

.image-info h1 {
  font-size: 5vw;
  font-weight: 700;
}

.image-info p {
  font-size: 2vw;
  font-weight: 400;
}

.community h1 {
  color: black;
  margin-left: 10%;
}

/* PAGE CARD 2 */

.cards-com {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
  padding: 20px;
  margin-left: 10%;
  box-sizing: border-box;
}

.card-com {
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 0 0 auto;
  width: 380px;
}

.card-com-image {
  width: 90%;
  height: auto;
  display: block;
  border-radius: 18px;
  margin-top: 5%;
  margin-left: 5%;
}

.card-com-content {
  margin-left: 5%;
}

.card-com-title {
  font-size: 1.5em;
  color: #333;
}

.card-com-description {
  font-size: 1em;
  color: #555;
  line-height: 1.5;
}

@media (max-width: 1200px) {
  .card-com {
    width: 230px;
  }
}

/* APP */

.app-bg {
  background-image: url("../img/app-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
}

.app-container {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  position: absolute;
  bottom: 0;
  color: white;
}

.app-content h1 {
  font-size: 53px;
  font-weight: 700;
}

.app-content h2 {
  font-size: 26.57px;
  font-weight: 400;
}

.app-inputs button {
  background-color: transparent;
  border: 0;
  color: white;
  padding: 8.86px 17.71px 8.86px 17.71px;
  border-radius: 18px;
}

.app-inputs button.active {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(35.424930572509766px);
}

.app-src-input {
  display: flex;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(35.424930572509766px);
  border-radius: 18px;
  padding: 8.86px 17.71px 8.86px 17.71px;
}

.app-src-input input {
  background-color: transparent;
  border: 0;
  border-radius: 18px;
  padding: 13.28px 8.86px 13.28px 8.86px;
  flex: 1;
}

.app-src-input button {
  background: rgba(255, 255, 255, 1);
  border-radius: 35.42px;
  padding: 13.28px 35.42px 13.28px 35.42px;
  color: rgba(38, 89, 195, 1);
}

.app-inputs {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

@media (max-width: 1200px) {
  .app-container {
    /* flex-direction: column-reverse; */
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
  }

  .app-inputs {
    flex-direction: column;
    align-items: center;
  }

  .app-bg {
    height: auto;
    padding: 50px 0;
  }

  .app-content h1 {
    font-size: 36px;
  }

  .app-content h2 {
    font-size: 18px;
  }

  .app-src-input {
    flex-direction: column;
    align-items: center;
  }

  .app-src-input input {
    width: 100%;
    text-align: center;
  }

  .app-src-input button {
    width: 100%;
    margin-top: 10px;
  }
}

/* FOOTER */

footer h1 {
  margin: 0;
}
footer {
  color: white;
  background: rgba(20, 20, 20, 1);
}

.footer {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.footer-logo {
  font-size: 35.42px;
  font-weight: 700;
}

.footer-menus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10%;
}

.footer-menus ul {
  list-style-type: none;
}

.footer-menu li {
  padding-bottom: 15px;
}

.footer-menus a {
  text-decoration: none;
  color: rgba(128, 128, 128, 1);
  font-size: 14.39px;
  font-weight: 400;
}

.footer-down {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 25%;
}

.footer-social a {
  padding-right: 22.14px;
}

.footer-btn button {
  padding: 11.07px 16.61px 11.07px 16.61px;
  gap: 0px;
  border: 1.11px solid rgba(128, 128, 128, 1);
  background-color: transparent;
  color: rgba(128, 128, 128, 1);
  opacity: 0px;
}

.footer-copyright {
  color: rgba(128, 128, 128, 1);
  margin-top: 2%;
  margin-left: 25%;
  padding-bottom: 5%;
}

.footer-copyright p {
  margin: 0;
}

@media (max-width: 1200px) {
  .footer-btn {
    padding-bottom: 30px;
  }
  .footer-social {
    padding-bottom: 10px;
  }
}

/* MOBILE MENU */

.mobile-menu {
  display: none;
}

@media (max-width: 1200px) {
  .mobile-menu {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 16px 8px 24px 8px;
  }
  .mobile-menu img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .mobile-menu a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
  }
  .mobile-menu a.active {
    color: rgba(38, 89, 195, 1);
  }
}
